html {
    height: 100%;
}

body {
    background-color: #252627;
    margin: 0px !important;
    height: 100%;
    font-family: "Open Sans", sans-serif;
}



.main {
    height: 100%;
    display: flex;
}

#container {
    background-color: black;
    height: 100%;
    top: 0px;
    position: absolute;
    right: 0px;
}

.left_panel {
    display: inline-flex;
    height: 100%;
    vertical-align: top;
    background-color: #181818;
    /*background-color: white;*/
    /*background-color: #56cb94;;*/
    width: 200px;
    border-right: 1px solid #dddddd;
    transition: transform 0.5s ease;
    animation: anim_left 2s 0s normal both;
    position: relative;
}

@media (max-width: 700px){
  .left_panel{
    width: 100%;
  }

  .right_panel{
    display: none !important;
  }
}

@media (max-width: 1020px){
  .W{
    opacity: 0.3;
  }
}


/*@keyframes anim_left{
  from{
    transform: scaleX(0);
    left:-200px;
  }
  to{
    transform: scaleX(1);
    left:0px;

  }
}*/

.top {
    width: 100%;
    /*color: #56cb94;*/
    color: white;
    text-align: center;
}

.image_portion {
    padding-top: 40px;
    padding-bottom: 40px;
    /*background-color: #56cb94;*/
}

.profile_pic {
    width: 100%;
    max-width: 140px;
    border-radius: 50%;
}

.top img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.name {
    margin-top: 10px;
    font-size: 24px;
}

.desc {
    font-weight: lighter;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.menu .selected {
    background-color: #56cb94;
    color: white;
}

.menu li {
    /*background-color: white;*/
    color: white;
    padding: 10px;
    font-weight: lighter;
    padding-left: 30px;
    margin-top: 1px;
}

.right_panel {
    display: inline-flex;
    height: 100%;
    vertical-align: top;
    flex-grow: 1;
    align-items: center;
    transform: scale(0.8, 0.8);
    /*animation: body_animation 3s linear forwards;*/
}

.right_panel_name {
    font-size: 34px;
    opacity: 1 !important;
}

.titles {
    margin-top: 40px;
    /*max-width: 400px;*/
}

.title {
    display: inline-block;
    min-width: 130px;
    text-align: center;
    padding: 8px;
    font-weight: lighter;
    /*background-color: #0c628e;*/
    background-color: #56cb94;
    border: 1px solid white;
    color: white;
    border-radius: 2px;
    margin: 4px;
    font-size: 20px;
    right: 0px;
    /*float: right;*/
}

@keyframes body_animation {
    0% {
        transform: scale(0.8, 0.8);
    }

    to {
        transform: scale(1, 1);
    }
}

.W {
    right: 10%;
    position: absolute;
    z-index: -1000;
}

.W_Style {
    opacity: 0;
    position: absolute;
    animation: dashing 0.5s linear forwards;
    animation-delay: 2s;
}

@keyframes dashing {
    to {
        opacity: 1;
    }
}

.st0 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: none;
    stroke: #4d4d4e;
    stroke-width: 2px;
    stroke-miterlimit: 10;
}

.path {
    stroke-dasharray: 10000;
    stroke-dashoffset: 10000;
    animation: dash 8s linear forwards;
}

.path2 {
    stroke-dasharray: 10000;
    stroke-dashoffset: 10000;
    animation: dash 8s linear backwards;
    animation-delay: 2s;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
        opacity: 1;
    }
}



/*animation typewriting*/

.line-1 {
    position: relative;
    /*border-right: 2px solid rgba(255,255,255,.75);*/
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}


/* Animation type writer*/

.anim-typewriter {
    animation: typewriteri 4s steps(42) 4s 1 normal both,
    blinkTextCursor 500ms steps(42) 4s normal;
}

.anim-typewriter2 {
    animation: typewriterii 1.5s steps(25) 8s 1 normal both,
    blinkTextCursor 500ms steps(25) 1.5s normal;
}

.anim-typewriter3 {
    animation: typewriteriii 0.5s steps(4) 9.5s 1 normal both,
    blinkTextCursor 500ms steps(4) 0.5s normal;
}

@keyframes typewriteri {
    from {
        width: 0;
    }
    to {
        width: 600px;
    }
    2% {
        border-right: 2px solid rgba(255, 255, 255, .75);
    }
    99% {
        border-right-color: rgba(255, 255, 255, .75);
    }
    100% {
        border-right-color: transparent;
    }
}

@keyframes typewriterii {
    from {
        width: 0;
    }
    to {
        width: 200px;
    }
    2% {
        border-right: 2px solid rgba(255, 255, 255, .75);
    }
    99% {
        border-right-color: rgba(255, 255, 255, .75);
    }
    100% {
        border-right-color: transparent;
    }
}

@keyframes typewriteriii {
    from {
        width: 0;
    }
    to {
        width: 100px;
    }
    2% {
        border-right: 2px solid rgba(255, 255, 255, .75);
    }
    99% {
        border-right-color: rgba(255, 255, 255, .75);
    }
    100% {
        border-right-color: transparent;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }
    to {
        border-right-color: transparent;
    }
}



/*Animation Abilities*/

.anim_titles{
  position: relative;
  /*typewriterii 1.5s steps(25) 10s 1 normal both*/
  animation: anim_titles 2s 10s normal both;
}

@keyframes anim_titles {
    from {
        bottom: -200px;
    }

    to {
        bottom: 0px;
    }
}

